

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="test.js"></script>
    <link rel="import" href="views/parts/proto-element.html">
  </head>
  <body>
    <editable-name-tag></editable-name-tag>
  </body>
</html>
